
.real-main-container{
    width: 100%;
    height: 100vh;
}
.main-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('/public/build-login.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container .login-container {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: auto;
    width: 25%;
    gap: 30px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
.main-container .login-container label{
        font-weight: 600; /* Negrita para mayor visibilidad */
        font-size: 16px;
        color: #333; /* Color oscuro para contraste */
}
.inputs{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
    
}

.inputs label{
    width: 72%;
    
}

.inputs input{
    box-sizing: border-box;
    outline: none;
    width: 72%;
    height: 35px;
    padding-left: 30px; 
    background-position: 8px center; 
    background-repeat: no-repeat;
    background-size: 16px; 
}

.inputs input:hover{
   border: 2px solid rgb(146, 146, 233);
}

#user{
    background-image: url('/src/images/email.svg');
}

#password{
    background-image: url('/src/images/password.svg');
}


.button{
   
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.create-account{
    width: 320px;
    box-sizing: border-box;
    position: relative;
    top: 7px;
    display: inherit;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.create-account a{
    color: blue;
} 

.create-account a:hover{
    text-decoration: underline;
} 

